#container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
    height: 80px;
}

.tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        margin: auto;
        display: block;
        transition: 200ms ease-in-out;
    }
    transition: 200ms ease-in-out;
}

.seleccionado {
    background-color: rgba(1, 0, 87, 0.888);
}